.App {
  text-align: center;
  width: 45%;
}
label {
  margin-bottom: 2%;
}

input {
  margin-bottom: 2%;
}

button {
  margin: 2%;
}

button:hover {
  background-color: blue;
  color: white;
}

.smurfs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
  opacity: .9;
  padding: 2%;
  border-radius: 20px;
}
